* {
	--p: #2B2D42;
	--s: #D52B1E;
	--t: #0033A0;
	--d: #FFD700;
	
}

body{
	background-color: var(--p);
	color: #F8F8F2;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h1, h2, h3 {
    font-weight: 700; 
}
p {
    font-weight: 300;
}

.navbar {
	background-color: var(--s); 
}
.navbar-brand, .nav-link {
	color: var(--d) !important;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 1px;
}
.nav-link:hover {
	color: #F8F8F2 !important;
}

#inicio {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
	font-family: 'Russo One', sans-serif;
}

.btn-primary {
	background-color: var(--d);
	border: none;
	color: #2B2D42;
	font-weight: bold;
	padding: 12px 24px;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: 'Russo One', sans-serif;
}

.btn-primary:hover {
	background-color: var(--s);
	color: white;
}

#grupos {
	background-color: var(--p);
	padding: 60px 0;
	font-family: 'Montserrat', sans-serif;
}

/* Estilizando os boxes dos grupos */
.grupo-box {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
	transition: transform 0.3s ease-in-out;
}

.grupo-box:hover {
	transform: scale(1.05);
}

.grupo-box h3 {
	background: linear-gradient(90deg, #D52B1E, #0033A0);
	color: white;
	padding: 10px;
	border-radius: 8px 8px 0 0;
	font-size: 1.5rem;
}

.grupo-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.grupo-box ul li {
	padding: 10px;
	font-size: 1.2rem;
	color: #2B2D42;
	font-weight: bold;
}

/* Seção de partidas */
#partidas {
	background-color: #f8f9fa;
	padding: 60px 0;
	font-family: 'Poppins', sans-serif;
}

/* Rodadas */
.rodada {
	margin-bottom: 40px;
}

.rodada h3 {
	text-align: center;
	background: #0033A0;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

/* Cards de partidas */
.match-card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
}

.match-card:hover {
	transform: scale(1.05);
}

.match-date {
	font-size: 1rem;
	color: #555;
	margin-bottom: 8px;
	font-weight: bold;
}

.match-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 10px;
	background: #FFD700;
	border-radius: 5px;
	color: #222;
}

.match-info.final-match {
	background: #D52B1E;
	color: white;
}

