* {
	--p: #2B2D42;
	--s: #D52B1E;
	--t: #0033A0;
	--d: #FFD700;
	
}

body{
	background-color: var(--p);
	color: #F8F8F2;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h1, h2, h3 {
    font-weight: 700; 
}
p {
    font-weight: 300;
}

.inicio{
	position: relative;
}

video{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	object-position: center;
}

.navbar {
	background-color: var(--s); 
}
.navbar-brand, .nav-link {
	color: var(--d) !important;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 1px;
}
.nav-link:hover {
	color: #F8F8F2 !important;
}

#inicio {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
	font-family: 'Russo One', sans-serif;
}

.btn-primary {
	background-color: var(--d);
	border: none;
	color: #2B2D42;
	font-weight: bold;
	padding: 12px 24px;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: 'Russo One', sans-serif;
}

.btn-primary:hover {
	background-color: var(--s);
	color: white;
}

#grupos {
	background-color: var(--p);
	padding: 0px 0;
	font-family: 'Montserrat', sans-serif;
}

/* Estilizando os boxes dos grupos */
.grupo-box {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
	transition: transform 0.3s ease-in-out;
}

.grupo-box:hover {
	transform: scale(1.05);
}

.grupo-box h3 {
	background: linear-gradient(90deg, #D52B1E, #0033A0);
	color: white;
	padding: 10px;
	border-radius: 8px 8px 0 0;
	font-size: 1.5rem;
}

.grupo-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.grupo-box ul li {
	padding: 10px;
	font-size: 1.2rem;
	color: #2B2D42;
	font-weight: bold;
}

/* Seção de partidas */
#partidas {
	background-color: var(--p);
	padding: 60px 0;
	font-family: 'Poppins', sans-serif;
}

/* Rodadas */
.rodada {
	margin-bottom: 40px;
}

.rodada h3 {
	text-align: center;
	background: linear-gradient(90deg, var(--s), var(--t));
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.5rem;
	margin-bottom: 20px;
}


.match-card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
}

.match-card:hover {
	transform: scale(1.05);
}

.match-date {
	font-size: 1rem;
	color: #555;
	margin-bottom: 8px;
	font-weight: bold;
}

.match-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 10px;
	background: #FFD700;
	border-radius: 5px;
	color: #222;
}

.match-info.final-match {
	background: #D52B1E;
	color: white;
}

.disp{
	display: flex;
}

.match-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.match-card:hover {
    transform: translateY(-5px);
}

.match-date {
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    font-size: 0.8rem;
    font-weight: bold;
    color: #007bff;
}

.match-score {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e74c3c;
    margin: 0 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodada {
    margin-bottom: 40px;
}


.card {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	max-width: 95%;
	background-color: black;
}
.card .teams {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background: linear-gradient(90deg, transparent, #111, transparent);
}
.card .teams > span {
	flex: 1;
	text-align: center;
	position: relative;
	font-size: 13px;
	text-wrap: nowrap;
}
.card .teams .team-name-info {
	text-wrap: nowrap;
	color: #ffffff;
	max-width: 210px;
	text-overflow: ellipsis;
	font-weight: 600;
	overflow: hidden;
	display: block;
}
.card .teams span.progress-dots {
	height: 3px;
	position: relative;
	width: 60px;
	display: block;
	overflow: hidden;
	margin: 0;
	border-radius: 10px;
}
.card .teams span.progress-dots .load {
	background: linear-gradient(90deg, #3a3dff, #ff2929);
	display: block;
	height: 1.5px;
	width: 3px;
	bottom: 0;
	position: absolute;
	transform: translateX(0px);
	animation: loading_dots 7.5s ease both infinite;
}
@keyframes loading_dots {
0% {
	width: 3px;
	transform: translateX(0px);
}
40% {
	width: 3px;
	transform: translateX(57px);
}

75% {
	width: 100%;
	transform: translateX(0px);
}
100% {
	width: 3px;
	transform: translateX(0px);
}
}
.card .teams .team-home,
.card .teams .team-away {
	padding: 15px 37px;
	position: relative;
	overflow: hidden;
}
.card .teams .team-away {
	transform: skew(-41deg, 0deg);
	border-radius: 10px 10px 30px 10px;
}
.card .teams .team-home {
	border-radius: 10px 10px 10px 30px;
	transform: skew(41deg, 0deg);
}
.card .teams .team-home::after {
	position: absolute;
	top: -3px;
	background: #00caff;
	content: "";
	height: 23px;
	border-radius: 27px;
	left: -20px;
	filter: blur(2px);
	transform: rotate(208deg);
	width: 20px;
	box-shadow: 0px 0px 32px #00ffed;
}
.card .teams .team-home::before {
	position: absolute;
	bottom: -15px;
	background: #0048ff;
	content: "";
	height: 17px;
	border-radius: 80px;
	right: 0;
	filter: blur(1px);
	transform: translate(-50%, 0%);
	width: 80%;
	box-shadow: 0px 0px 32px #0026ff;
}
.card .teams .team-away::after {
	position: absolute;
	top: -3px;
	background: #cc9d00;
	content: "";
	height: 23px;
	border-radius: 27px;
	right: -20px;
	filter: blur(2px);
	transform: rotate(208deg);
	width: 20px;
	box-shadow: 0px 0px 32px #cc3700;
}
.card .teams .team-away::before {
	position: absolute;
	bottom: -15px;
	background: #ff0000;
	content: "";
	height: 17px;
	border-radius: 80px;
	left: 0;
	filter: blur(1px);
	transform: translate(50%, 0%);
	width: 80%;
	box-shadow: 0px 0px 32px #d50000;
}

.card .teams .team-home .team-name-info {
	transform: skew(-41deg, 0);
}
.card .teams .team-away .team-name-info {
	transform: skew(41deg, 0);
}

.event-info-banner .info-heading {
	position: absolute;
	right: 12px;
	bottom: 5px;
	color: rgba(255, 255, 255, 0.2);
	margin: 0;
}
.card .event-scoreboard .event-score-container {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	width: fit-content;
	background: linear-gradient(#1e1e1e 0%, #0c0c0c8e 4%, #1a1419);
	box-shadow:
		inset 0 0 1px 0 #2c2c2c,
		0 0 20px 0 #1313139c;
	margin: 10px 0;
}
.card .event-scoreboard .event-score-container .score-container {
	font-size: 24px;
	background: linear-gradient(90deg, #3a3dff, #ff2929);
	-webkit-background-clip: text;
	width: 100%;
	-webkit-text-fill-color: transparent;
}
.card .event-scoreboard .event-score-container .current-time-container {
	font-size: 12px;
	margin-bottom: 8px;
	width: 100%;
	font-family: "SegoeUI";
	color: #a1a1a1;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
}
.card
.event-scoreboard
.event-score-container
.current-time-container
.event-clock {
	font-weight: 500;
	color: #eee;
	margin-right: 10px;
}

.displex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.group-table {
	width: 100%;
	max-width: 500px;
	border-collapse: collapse;
	background: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	overflow: hidden;
	margin-top: 30px;
}
.group-table th, .group-table td {
	padding: 10px;
}

.group-table th {
	background-color: var(--t);
	color: white;
	text-align: center;
}

.group-table td {
	color: black;
	text-align: center;
}

#destaque{
	background-color: var(--s);
}

footer {
	margin-top: 20px;
	padding: 15px;
	background-color: var(--t);
	color: white;
	text-align: center;
	font-size: 14px;
}
  
  
